@font-face {
	font-family: 'minecraftfont';
	src: url('./fonts/minecraftfont.eot');
	src: local('minecraftfont'), url('./fonts/minecraftfont.woff') format('woff'), url('./fonts/minecraftfont.ttf') format('truetype');
}

body,
html {
	height: 100%;
	margin: 0;
	font-family: minecraftfont, segoe, sans-serif;
	background-color: #212121;
	background-image: url('./img/background.png');
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.box .row.header {
	flex: 0 1 auto;
	background-color: #388E3C;
	background-image: url('./img/header.png');
	text-align: center;
	height: 35px;
	line-height: 35px;
}

.box .row.content {
	flex: 1 1 auto;
	color: #FAFAFA;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading:after {
	display: inline-block;
	animation: dotty steps(1,end) 1s infinite;
	content: '';
}
@keyframes dotty {
	0% {
		content: '';
	}

	25% {
		content: '.';
	}

	50% {
		content: '..';
	}

	75% {
		content: '...';
	}

	100% {
		content: '';
	}
}

.noselect {
	cursor: default;
	-webkit-user-select: none;
}
